body {
    display: flex;
    font-family: roboto;
    flex-direction: column;
}

#header {
    flex: 1;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;

}

.upper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 18px;
}

a, p {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.lower {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 100px;
    margin: 0px 32px 0px 32px;
    padding: 100px;
}

h1 {
    font-size: 48px;
    margin-bottom: -10px;
    flex-wrap: wrap;
}

button {
    align-self: flex-start;
    color: white;
    background-color: #3882f6;
    border-radius: 8px;
    border: #3882f6;
    padding: 8px;
    width: 108px;
    font-size: 18px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: stretch;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

#body {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding: 16px;
}

.header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 24px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 140px;
}

.rectangle {
    height: 140px;
    width: 140px;
    border: 1px solid #3882f6;
    border-width: 4px;
    border-radius: 12px;
    flex-shrink: 0;
    margin-bottom: -28px;
}

.subtext {
    flex-wrap: wrap;
    text-align: center;
}